{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Редактирование</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name, 'Наименование') }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.price, 'Цена') }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description, 'Описание') }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.image, 'Изображение') }}
            <img src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.name }}"
                 class="product-image-list">

            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.alzaUrl) }}
            {{ form_widget(form.alzaUrl, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <span class="mx-2"></span>
            <a href="{{ path('product_list') }}" class="btn btn-secondary">Назад</a>
            <span class="mx-2"></span>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}
